<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>新規登録</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<!-- 名前とEmailの入力フォームを作成 -->
		<!-- アクションとメソッドの設定 -->
		<form th:object="${userForm}" th:action="@{/newuser}" th:method="post">
			<table>
				<tr>
					<th>名前</th>
					<td>
						<!-- userFromのnameフィールドとの紐付け -->
						<input type="text" th:field="*{name}">
						<!-- バリデーションエラーメッセージ表示 -->
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>
						<!-- userFromのemailフィールドとの紐付け -->
						<input type="text" th:field="*{email}">
						<!-- バリデーションエラーメッセージ表示 -->
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
					</td>
				</tr>
			</table>
			<input type="submit" value="登録">
		</form>
		
		<!-- ユーザー一覧画面へのリンク追加 -->
		<a th:href="@{/users}">ユーザー一覧へ</a>
		
	</body>
</html>