<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ユーザー一覧</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<table>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>Email</th>
				<!-- 空のテーブル見出しを追加 -->
				<th></th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td><!-- 表示したいタグにth:textを追加 -->
				<td th:text="${user.name}"></td><!-- 表示したいタグにth:textを追加 -->
				<td th:text="${user.email}"></td><!-- 表示したいタグにth:textを追加 -->
				
				<!-- 削除ボタンを追加 -->
				<td>
					<!-- 削除処理の呼び出しを追加 -->
					<form th:action="@{'/users/delete/' + ${user.id}}" th:method="delete">
						<input type="submit" value="削除">
					</form>
				</td>
				
			</tr>
		</table>
		
		<!-- ユーザー登録画面へのリンク追加 -->
		<a th:href="@{/newuser}">新規登録へ</a>
		
	</body>
</html>